<!DOCTYPE html>
<html>
<head>
  <title>Party Playr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Shadow' rel='stylesheet' type='text/css'>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<!-- <video autoplay loop poster="" id="bgvid">
  <source src="" type="video/webm">
  <source src="" type="video/mp4">
</video> -->

<div class="content" id="content">
  <%= yield %>
</div>

</body>
</html>
